

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" href="https://appseed.us/admin-dashboards/django-dashboard-material">
                  Django Dashboard Material
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" href="https://www.creative-tim.com/">Creative Tim</a> - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
          </div>
        </div>
    </footer>
