

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a href="https://appseed.us/admin-dashboards/django-dashboard-material">
                  Django Dashboard Material
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; Creative Tim - Coded in Django by AppSeed
          </div>
        </div>
    </footer>
