<footer class="footer py-4  ">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          &copy; Your Company HERE
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="#" class="nav-link text-muted">LINK_1</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-muted">LINK_2</a>
          </li>
          <li class="nav-item">
            <a href="https://appseed.us/support/" class="nav-link pe-0 text-muted" target="_blank">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>