{% extends 'layouts/base-fullscreen.html' %}
{% load i18n static admin_material %}

{% block content %}

  {% include 'includes/navigation-fullscreen.html' %}

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('{% static 'img/illustrations/illustration-signup.jpg' %}'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Sign UP</h4>
                  <p class="mb-0">
                    {% if msg %}
                      <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                      Enter your email and password to register
                    {% endif %}                    
                  </p>
                </div>

                {% if success %}
                  <div class="card-body">
                    <div class="text-center">
                      <a  href="{% url 'login' %}" 
                          class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign IN</a>
                    </div>
                  </div>
                {% else %}
                  <div class="card-body">
                      <form role="form" method="post" action="">
                        {% csrf_token %} 
                        {% for field in form %}
                        <div class="input-group input-group-outline mb-3">
                          {{ field }}
                        </div>
                        <span class="text-danger">{{ field.errors }}</span>
                        {% endfor %}
                        <div class="text-center">
                          <button type="submit" name="register" 
                                  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up</button>
                        </div>         
                      </form>
                  </div>
                  <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-2 text-sm mx-auto">
                      Already have an account?
                      <a href="{% url 'login' %}" class="text-primary text-gradient font-weight-bold">Sign IN</a>
                    </p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% include 'includes/footer-fullscreen.html' %}

{% endblock content %}