{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid py-2">
      <div class="row min-vh-80">
        <div class="col-6 mx-auto">
          <div class="card mt-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Material Design Icons</h6>
                <p class="mb-0 text-white ps-3">Handcrafted by our friends from
                  <a class="text-white font-weight-bold" target="_blank" href="https://fonts.google.com/icons">Google</a>
                </p>
              </div>
            </div>
            <div class="card-body">
              <p>Through most of the examples in this dashboard, we have used the default <a href="https://fonts.google.com/icons">Icons for the Material Design</a> provided by Google.</p>
              <i class="material-symbols-rounded text-2xl">face</i>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}
    </div>

{% endblock content %}
