    <footer class="footer position-absolute bottom-2 py-2 w-100">
        <div class="container">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-12 col-md-6 my-auto">
              <div class="copyright text-center text-sm text-white text-lg-start">
                &copy; <a href="https://bit.ly/3fKQZaL" class="text-white font-weight-bold" target="_blank">Creative Tim</a>
                Coded by AppSeed.
              </div>
            </div>
            <div class="col-12 col-md-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://appseed.us/admin-dashboards/django-dashboard-material" 
                     class="nav-link text-muted" target="_blank">Product</a>
                </li>
                <li class="nav-item">
                  <a href="https://appseed.us/support" class="nav-link text-muted" target="_blank">Support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer> 

