      <footer class="footer pt-5">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                &copy; <a href="https://bit.ly/3fKQZaL" class="font-weight-bold" target="_blank">Creative Tim</a>
                Coded by AppSeed.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://appseed.us/product/material-dashboard/django/" 
                     class="nav-link text-muted" target="_blank">Product</a>
                </li>
                <li class="nav-item">
                  <a href="https://appseed.us/support" class="nav-link text-muted" target="_blank">Support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

