{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Create Account
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              Add your credentials
          </h6>
          
          <br />
          <form role="form" action="/">

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Username</label>
                  <input type="text" class="form-control" placeholder="Username">
                </div>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Password</label>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              </div>
            </div>

            <br />
            <button name="register" class="btn btn-primary pull-left">Register</button>

            &nbsp; &nbsp; 
            <span class="pull-right">
              Have an account? <a href="/login.html" class="text-primary">Login</a>
            </span>

            <div class="clearfix"></div>

          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
